name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  inspect:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Format code
      run: cargo fmt -- --check
    - name: Inspect code
      run: |
        cargo clippy --version
        cargo clippy --all-targets -- -D warnings

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Run tests
      run: cargo test
    - name: Determine version
      run: | 
        cargo run
        echo "Contents of GITHUB_OUTPUT:"
        cat $GITHUB_OUTPUT
